.header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid black;
  position: fixed;
  z-index: 1;
  background-color: white;
  padding-right: 50px;
}
.logo{
  padding-left: 30px;
  width: 90px;
}
.Title{
  padding-left: 15px;
}
.nav{
  display: inline-block;
  position: relative;
  left: 400px;
  padding: 20px;
}
h2{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
}
.page{
  padding-top: 70px;
  display: flex;
  margin: 0 0 auto auto;
}
.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}
.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: center;
  flex-wrap: wrap;
}
.news-bites{
  font-size: 16px;
  font-weight: bold;
}
.news-bites .bite{
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px 2px 10px 2px;
}
.image-text{
  display: flex;
  align-items: center;
  background-image: url(img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 600px;
  padding-left: 20px;
}
.image2-text{
  background-image: url(img-story-2.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  padding-left: 30px;
  text-align: center;
}
.image3-text{
  background-image: url(img-story-3.png);
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.image4-text{
  display: flex;
  background-image: url(img-story-1.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 250px;
  align-items: center;
  text-align: center;
}
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.horizontal{
  display: flex;
}
.orca{
  display: flex;
  flex-direction: column;
}
.burger{
  display: flex;
  flex-direction: column;
}
.footer{
  display: flex;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  justify-content: center;
  flex-direction: column;
}
.footertitle{
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 10px;
}
.footerhead{
  display: inline-block;
}
.links{
  display: inline-flex;
  padding: 20px;
  align-content: center;
}
